<?xml version='1.0' encoding='utf-8'?>                                                                                                                                                   
<Server port="8005" shutdown="SHUTDOWN">                                                                                                                                                 
    <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
    <!--8.5版本的tomcat要使用AprConnector必须配置useAprConnector="true"-->
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="off" useAprConnector="true"/>
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>                                                                                                     
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>                                                                                                  
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>                                                                                                   
                                                                                                                                                                                         
    <GlobalNamingResources>                                                                                                                                                              
        <Resource name="UserDatabase" auth="Container"                                                                                                                                   
                  type="org.apache.catalina.UserDatabase"                                                                                                                                
                  description="User database that can be updated and saved"                                                                                                              
                  factory="org.apache.catalina.users.MemoryUserDatabaseFactory"                                                                                                          
                  pathname="conf/tomcat-users.xml"/>                                                                                                                                     
    </GlobalNamingResources>                                                                                                                                                             
                                                                                                                                                                                         
    <Service name="Catalina">

        <Executor name="tomcatThreadPool" namePrefix="catalina-exec-" maxThreads="1200" minSpareThreads="64"/>

        <!--
            如果强制指定apr协议，如下，则AprLifecycleListener可以不用配置useAprConnector属性
            protocol="org.apache.coyote.http11.Http11AprProtocol"
        -->
        <Connector executor="tomcatThreadPool"
                   port="8080"
                   protocol="HTTP/1.1"
                   connectionTimeout="20000"
                   enableLookups="false"                                                                                                                                                 
                   maxKeepAliveRequests="5000" acceptCount="5000" URIEncoding="UTF-8" bindOnInit="false"/>

        <Engine name="Catalina" defaultHost="localhost">
                                                                                                                                                                                         
            <Realm className="org.apache.catalina.realm.LockOutRealm">                                                                                                                   
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm" resourceName="UserDatabase"/>
            </Realm>                                                                                                                                                                     
                                                                                                                                                                                         
            <Host name="localhost" appBase="webapps"  unpackWARs="true" autoDeploy="true" xmlBase="webapps">
                  <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs" pattern="%h %l %u %t &quot;%r&quot; %s %b %D" prefix="localhost_access_log" suffix=".txt" />                                                                                                                                                                       
            </Host>                                                                                                                                                                      
        </Engine>                                                                                                                                                                        
    </Service>                                                                                                                                                                           
</Server>